.banner {
    background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .banner > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 2vmax "Lucida Sans";
  }
  
  .banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
  }
  .banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  
  .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
  }
  
  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }
  
  .productCard > img {
    width: 14vmax;
  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  .productCard>div>span{
    font-size: 1vmax;
    margin-left: 10px;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
  }
  
/* traveller stories */


.stories {
  display: flex;
  margin: 2vmax auto;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.travelCard {
 width: 25vmax;
}

.story{
  position: relative;
  text-align: center;
  flex-basis: 30%;
  margin: 30px;
}
 .story img{
  width: 100%;
  border-radius: 10px;
}

.stories p{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 26px;
}
.travelCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
.travelCard{
  transition: all 0.5s;
}

 /* cta css */
.cta{
  margin: 80px 100px;
  background-image: linear-gradient(to right, #3f2321 ,transparent),url(../../images/banner-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}
.cta h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}
.cta p{
  font-size: 18px;
  margin: 10px;
}
.cta-btn{
  text-decoration: none;
  color: #fff;
  background: #ff5361;
  border-radius: 8px;
  padding: 12px 30px;
  margin-top: 20px;
  display: inline-block;
}
.cta-btn:hover{
  background: green;
}

  
  @media screen and (max-width: 600px) {
   
    .productCard{
      width: 90%;
    }
    .productCard>img{
      width: 100%;
    }
    .productCard p {
      font-size: 30px;
    }
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
    .travelCard{
      width: 90%;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 500 2vmax "Roboto";
    }
    .banner > p{
        font-size: 2.5vmax;
        font-weight: 600;
    }
    .banner > a > button {
        font-size: 2vmax;
    }
    .homeHeading{
      font-size: 4vmax;
    }
    .productCard > p{
      font-size: 2vmax;
    }
    .productCard > div > span {
      font-size: 1.5vmax;
    }
    .productCard > span {
      font-size: 1.8vmax;
    }
    .cta{
    margin: 20px 30px;
    padding: 15% 5%;
  }
   .cta h3{
      font-size: 7vw;
      line-height: 8vw;
  }
  .cta p{
      font-size: 14px;
  }
  .cta-btn{
      padding: 6px 15px;
      border-radius: 4px;
      margin-top: 10px;
      font-size: 14px;
  }
  }
  