.searchBox {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url(../../images/banner.png);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0%;
  left: 0;
}
.searchBox h1{
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 10%;
}
.search-bar{
  background: #fff;
  width: 55%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}
.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-bar form input{
  display: block;
   border: 0;
   outline: none;
  background: transparent;
  margin-top: 10px;
}
.search-bar form button{
  background: #ff5361;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  outline: none;
  border: 0;
  cursor: pointer;
}
.search-bar form button img{
  width: 15px;
  margin-top: 7px;
}
.location-input{
  flex: 1;
  /* flex 1 means this item of flex will occupy all the available space in flex container*/
}
.search-bar form label{
  font-weight: 600;
}

@media (max-width:700px){
  .searchBox h1{
    padding-top: 100px;
    font-size: 8vw;
    font-weight: 600;
}
.search-bar{
  width: 70%;
  margin: 30px auto;
  padding: 20px 10px 30px;
  border-radius: 5px;
  position: relative;
}
.search-bar form{
  display: block;
}
.search-bar form input{
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 2.5vmax;
}
.search-bar form button{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.search-bar>form>div>label{
  font-size: 3.5vmax;
}
}